{% extends "base.html" %}

{% load i18n %}
<!-- {% load account socialaccount %} -->

{% block title %}
Sign In
{% endblock %}

{% block content %}

<div class="ui middle aligned center aligned two column grid">
  <div class="ui column m-screen">
    <h1 class="ui blue header mb-7 mt-5">
      <div class="content blue">
        Merosathi
    </h1>
    <form method="POST" action="{% url 'account_login' %}" class="ui large form">
      {% csrf_token %}
      <div class="ui stacked segment mb-7">
        <div class="ui header">
          Log in to MeroSathi
        </div>
        <div class="ui message medium yellow">
          <div class="content">
            You must log in to continue.
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.login }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password }}
          </div>
        </div>
        <button class="ui button fluid large submit" type="submit">Sign In</button>
      </div>
    </form>
    <div class="mt-5">
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot
        Password?</a>
      &nbsp;&nbsp;&nbsp;
      <a class="button secondaryAction" href="{% url 'account_signup' %}">Sign Up for
        Merosathi</a>
    </div>
  </div>
</div>

{% endblock %}
