{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}
Password reset
{% endblock %}

{% block content %}

<div class="ui middle aligned center aligned two column grid">
    <div class="ui column m-screen">
        <h1 class="ui blue header mb-7 mt-5">
            <div class="content blue">
                Merosathi
        </h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <form method="POST" action="{% url 'account_reset_password' %}" class="ui large form">
            {% csrf_token %}
            <div class="ui stacked segment mb-7">
                <div class="ui header">
                    Find Your Account
                </div>
                <div class="ui message medium yellow">
                    <div class="content">
                        Forgotten your password? Enter your e-mail address below, and we'll
                        send you an e-mail allowing you to reset it.
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        {{ form.email }}
                    </div>
                </div>
                <button class="ui button large submit" type="submit">Reset</button>
                <button class="ui button large submit" onclick="history.back">Cancel</button>
            </div>
        </form>
        <div class="mt-5">
            <a class="button secondaryAction" href="{% url 'home_page' %}">Back to Login
                page</a>
        </div>
    </div>
</div>

{% endblock %}
