{% extends 'base.html' %}

{% block title %}
{{user.first_name}}'s Profile
{% endblock title %}

{% block content %}

<!-- Modal to update user profile -->
<div class="ui modal" id="up-modal">
    <i class="close icon"></i>
    <div class="header">
        Update your Profile Information
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="{{user.avatar.url}}">
        </div>
        <div class="description">
            <div class="ui header">Please provide the information you want to update.</div>
            <!-- form to update user profile information -->
            <form action="" method="post" class="ui form" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
        </div>
    </div>
    <div class="actions">
        <button class="ui positive right labeled icon button">
            Update
            <i class="checkmark icon"></i>
        </button>
        </form>
    </div>
</div>

{% if confirm %}
<div class="ui blue message">Thank you for updating your profile information.</div>
{% endif %}
<!-- <h3>Welcome {{ user.first_name }}</h3> -->
<div class="ui grid">
    <div class="row">
        <div class="four wide column">
            <img src="{{user.avatar.url}}" alt="" class="ui medium rounded image">
            <h1>{{user.first_name}} {{ user.last_name}}</h1>
            <div class="ui vertical fluid menu">
                <div class="item">
                    Posts
                    <div class="ui label">{{ user.total_posts }}</div>
                </div>
                <div class="item">
                    Likes Given
                    <div class="ui label">{{ user.total_likes_given }}</div>
                </div>
                <div class="item">
                    Likes Received
                    <div class="ui label">{{ user.total_likes_received }}</div>
                </div>
                <div class="item">
                    Friends
                    <div class="ui label">{{ user.total_friends }}</div>
                </div>
            </div>
            <button class="ui active button mt-5" id="update-profile">Update Profile</button>
        </div>
        <div class="twelve wide column">
            {% if len_posts %}
            {% for post in posts %}
            <div class="segment ui fluid">
                {% if post.image.url %}
                <img alt class="image w-100" src="{{ post.image.url }}">
                {% endif %}
                {{ post.content }}
            </div>
            {% endfor %}
            {% else %}
            <h1>No post from the {{user.first_name}}</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content%}