{% url 'post:create_list_post_comment' as path_to_post %}
{% url 'userprofile:profile_page_view' as path_to_userprofile %}
{% url 'userprofile:profiles_list_view' as path_to_allprofile %}
{% url 'userprofile:request_profiles_list_view' as path_to_addfriend %}
{% url 'userprofile:request_received_view' as path_to_acceptfriend %}


<!-- Modal for sign out confirmation -->
<!-- <div class="ui modal" id="so-modal">
    <i class="close icon"></i>
    <div class="header">
        Sign Out
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">Are you sure you want to sign out?</div>
        </div>
    </div>
    <a href="{% url 'account_logout' %}">
        <button class="ui positive right labeled icon button">
            Sign Out
            <i class="sign-out icon"></i>
        </button>
    </a>
</div> -->


<div class="ui inverted menu nav mb-7">
    <div class="ui container">
        <a href="{{ path_to_post }}"
            class="{% if request.path == path_to_home %} active {% endif %} item">
            <h3>Mero Sathi</h3>
        </a>

        <div class="right menu">
            <div class="item">
                <div class="ui floating dropdown icon button teal"> Friends
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{{ path_to_allprofile }}"
                            class="{% if request.path == path_to_allprofile %} active {% endif %} item">
                            All Profiles
                        </a>
                        <a href="{{ path_to_addfriend }}"
                            class="{% if request.path == path_to_addfriend %} active {% endif %} item">
                            Add Friends&nbsp;
                            <div class="ui purple horizontal label">{{ request_send_num }}</div>
                        </a>
                        <a href="{{ path_to_acceptfriend }}"
                            class="{% if request.path == path_to_acceptfriend %} active {% endif %} item">
                            Friends Request Received&nbsp;
                            <div class="ui purple horizontal label">{{ request_rec_num }}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <form action="" method="GET">
                    <div class="ui action left icon input">
                        <input class="prompt" type="text" name='q'
                            placeholder="name of a friend...">
                        <i class="search icon"></i>
                        <button type='submit' class="ui button">Search</button>
                    </div>
                </form>
            </div>

            <a href="{{ path_to_userprofile }}"
                class="{% if request.path == path_to_userprofile %} active {% endif %} item">
                <img src="{{ picture.url }}" alt="" class="ui avatar image">&nbsp;
                {{ fname }}
            </a>
            <a href="{% url 'account_logout' %}" class="ui item" id="sign-out">
                Logout
            </a>
        </div>
    </div>
</div>